#back {
        background-image:url('https://i.imgur.com/0uR4nZs.jpg');
        background-size:100% 100%;
        background-position:50% 50%;
        background-repeat:no-repeat;
        height:100%;
        width:100%;
        margin:0px;
        padding:0px;
        display:block;
       }
#ph1{
      position:absolute;
      top:21%;
      left:26%;
      width:40%;
      height:56%;
    }
.o1{
        }
#b1 {position:absolute;
     top:44%;
     left:39%;
     width:13%; 
     height:15%;
     background:transparent;
       font-family:DFKai-sb;
       font-size:160%;
       font-weight:900;
       text-align:center;

    }   
#b2 {
       position:absolute;
       top:3%;
       left:39%;
       width:13%;
       height:15%;
       background:transparent;
       font-family:DFKai-sb;
       font-size:160%;
       font-weight:900;
       text-align:center;
     }
#b3{
      position:absolute;
       top:44%;
       left:39%;
       width:13%;
       height:15%;
        background:transparent;
       font-family:DFKai-sb;
       font-size:160%;
       font-weight:900;
       text-align:center;
     opacity:0;
    }
#b4{
      position:absolute;
       top:44%;
       left:39%;
       width:13%;
       height:15%;
 background:transparent;
       font-family:DFKai-sb;
       font-size:160%;
       font-weight:900;
       text-align:center;
       opacity:0;
    }
#b5{
      position:absolute;
       top:44%;
       left:39%;
       width:13%;
       height:15%;
       background:transparent;
       font-family:DFKai-sb;
       font-size:160%;
       font-weight:900;
       text-align:center;
       opacity:0;

    }
#b6{
      position:absolute;
       top:44%;
       left:39%;
       width:13%;
       height:15%;
 background:transparent;
       font-family:DFKai-sb;
       font-size:160%;
       font-weight:900;
       text-align:center;
      opacity:0;
    }
#b7{
      position:absolute;
       top:44%;
       left:39%;
       width:13%;
       height:15%;
       background:transparent;
       font-family:DFKai-sb;
       font-size:160%;
       font-weight:900;
       text-align:center;
      opacity:0;
    }
#b8{
      position:absolute;
       top:44%;
       left:39%;
       width:13%;
       height:15%;
 background:transparent;
       font-family:DFKai-sb;
       font-size:160%;
       font-weight:900;
       text-align:center;
      opacity:0;
    }
#b9{
      position:absolute;
       top:44%;
       left:39%;
       width:13%;
       height:15%;
        background:transparent;
       font-family:DFKai-sb;
       font-size:160%;
       font-weight:900;
       text-align:center;

 opacity:0;

    }
#b10{
      position:absolute;
       top:44%;
       left:39%;
       width:13%;
       height:15%;
        background:transparent;
       font-family:DFKai-sb;
       font-size:160%;
       font-weight:900;
       text-align:center;
       opacity:0;

    }
#b11{
      position:absolute;
       top:44%;
       left:39%;
       width:13%;
       height:15%;
        background:transparent;
       font-family:DFKai-sb;
       font-size:160%;
       font-weight:900;
       text-align:center;
     opacity:0;
    }
#b12{
       position:absolute;
       top:85%;
       left:39%;
       width:13%;
       height:15%;
       background:transparent;
       font-family:DFKai-sb;
       font-size:160%;
       font-weight:900;
       text-align:center;
       opacity:1;

    }


#button1{
          position:absolute;
       top:18%;
       left:40.5%;
          width: 0;
         height: 0;
          border-left: 70px solid transparent;
          border-right: 70px solid transparent;
          border-bottom: 40px solid gray;
          background:transparent;
          cursor:pointer;
        }
#button2{
        position:absolute;
       top:78%;
       left:40.5%;
       width: 0;
      height: 0;
        border-left: 70px solid transparent;
      border-right: 70px solid transparent;
     border-top: 40px solid gray;
     background:transparent;
     cursor:pointer;
   }
#button3{
       cursor:pointer; 
       position:absolute;
        text-align:center;
         font-family:DFKai-sb;
         font-size:30px;
         width:13%;
         height:7%;
         top:13%;
         left:73%;
         color:#FFB326;
         border-radius:5px;
         text-shadow:1px 1px 0.5px white,-2px -2px 0.5px black;
         background-image:url('https://i.imgur.com/FspfaBg.jpg');
         border:3px solid black;
    }  
#button4{
         background-image:url('https://i.imgur.com/FspfaBg.jpg');
         position:absolute;
         top:70%;
         left:89%;
         width:8%;
         height:8%;
         border:3px solid black;
         border-radius:5px;
         color:#FFB326;
         text-shadow:1px 1px 0.5px white,-2px -2px 0.5px black;
        cursor:pointer;
        text-align:center;
         font-family:DFKai-sb;
       font-size:190%;
       
       }
#obj2{
       background-image:url('https://i.imgur.com/FspfaBg.jpg');
       position:absolute;
       top:25%;
       left:72%;
       width:16%;
       height:60%;
       border:3px solid black;
       border-radius:5px;
     }
#button5{
         background-image:url('https://i.imgur.com/FspfaBg.jpg');
         position:absolute;
         top:60%;
         left:89%;
         width:8%;
         height:8%;
         border:3px solid black;
         border-radius:5px;
         color:#FFB326;
         text-shadow:1px 1px 0.5px white,-2px -2px 0.5px black;
        cursor:pointer;
        text-align:center;
         font-family:DFKai-sb;
       font-size:190%; 
       }
#button6 {background-image:url('https://i.imgur.com/ueLRDe8.jpg');
          background-repeat:no-repeat;
          width:4.5%;
          height:10%;
          top:87%;
          position:absolute;
          left:72%;
         margin:0;
         cursor:pointer;
       }
#button7 {
        background-image:url('https://i.imgur.com/FspfaBg.jpg');
         position:absolute;
         top:50%;
         left:89%;
         width:8%;
         height:8%;
         border:3px solid black;
         border-radius:5px;
         color:#FFB326;
         text-shadow:1px 1px 0.5px white,-2px -2px 0.5px black;
        cursor:pointer;
        text-align:center;
         font-family:DFKai-sb;
       font-size:190%; 
     }
#amount2 {
            background:transparent;
            position:absolute;
            color:gray;
            font-weight:900;
            font-family:DFKai-sb;
            font-size:35px;
            top:89.5%;
           left:74.5%;
           width:8%;
           height:8%;
           text-align:center;
          }
#output1{
          background:transparent;
          position:absolute; 
          color:black;
            font-weight:900;
            font-family:DFKai-sb;
            font-size:20px;
          top:86.5%;
           left:80.5%;
           width:8%;
           height:8%;
           text-align:center;
        }
#output2{
           background:transparent;
          position:absolute;
          color:gray;
            font-weight:900;
            font-family:DFKai-sb;
            font-size:40px;
            top:89.5%;
           left:80.5%;
           width:8%;
           height:8%;
           text-align:center; 
         }
#obj3{ 
  
       position:absolute;
        text-align:center;
         font-family:DFKai-sb;
         font-size:390%;
         width:13%;
         height:7%;
         top:26%;
         left:77%;
         color:#FFB326;
         text-shadow:1px 1px 0.5px white,-2px -2px 0.5px black;
      }
#obj4{
        position:absolute;
        text-align:center;
         font-family:DFKai-sb;
         font-size:180%;
         width:8%;
         height:7%;
         top:26%;
         left:72%;
         color:white;
         
     }   
#obj5 {
        -webkit-writing-mode: vertical-lr;
        writing-mode: vertical-rl; 
        position:absolute;
        text-align:center;
         font-family:DFKai-sb;
         font-size:180%;
         top:37%;
         left:85%;
         color:#FFB326;
         text-shadow:1px 1px 0.5px white,-2px -2px 0.5px black;
       }
#ly {
        background-size:100% 100%;
        position:absolute;
        top:0%;
        left:0%;
        background-color:black;
        opacity:0.5;
        height:100%;
        width:100%;
        margin:0px;
        padding:0px;
        display:block;
      }
#k {  position:absolute;
        text-align:center;
         font-family:DFKai-sb;
         font-size:180%;
         width:8%;
         height:7%;
         top:26%;
         left:70.5%;
         color:white;
   }
#task1 {position:absolute;      
        text-align:left;
         font-family:DFKai-sb;
         font-size:200%;
         width:10%;
         height:40%;
         top:40%;
         left:74.5%;
        color:white;
        -webkit-writing-mode: vertical-lr;
        writing-mode: vertical-rl; 

      }
#task2 { position:absolute;
          text-align:left;
         font-family:DFKai-sb;
         font-size:200%;
         width:10%;
         height:40%;
         top:40%;
         left:68.5%;
        color:white;
        -webkit-writing-mode: vertical-lr;
        writing-mode: vertical-rl; 

       
       }   
      
      


